Repository Matthew-Mak/Paradise-SS220-MM, changes with the labels that .github/labeler.yml gives for each.
All labels: TGUI, Звук, Изменение Карты, Инструменты, Керберос, Кибериада, Спрайты, Требуется изменение конфига, Документация, Частичная модульность, SQL

.github/labeler.yml:

"TGUI":
- 'tgui/**'

"Звук":
- '**/*.ogg'

"Изменение Карты":
- '**/*.dmm'

"Инструменты":
- '.gihub/workflows/**'
- 'tools/**'

"Керберос":
- '_maps/map_files220/delta/delta.dmm'

"Кибериада":
- '_maps/map_files220/cyberiad/cyberiad.dmm'

"НЕ МОДУЛЬНО":
- all: ['code/**/*.dm']

"Спрайты":
- '**/*.dmi'

"Требуется изменение конфига":
- 'config/**'

"Документация":
- '**/*.md'

"Частичная модульность":
- 'code/**/*.dm'
- 'modular_ss220/**'

"SQL":
- 'SQL/**'

memes
  code/controllers/subsystem/tickets/SStickets.dm
  modular_ss220/ai_integration/_ai_integration.dm
  modular_ss220/ai_integration/_ai_integration.dme
  modular_ss220/ai_integration/code/config.dm
  modular_ss220/ai_integration/code/gpt_subsystem.dm
  modular_ss220/ai_integration/code/ticket.dm
  modular_ss220/modular_ss220.dme
  strings/ahelp_system_message.txt
Labels: Частичная модульность

dme sort
  modular_ss220/modular_ss220.dme
Labels: Частичная модульность

SS220 adition
  code/controllers/subsystem/tickets/SStickets.dm
Labels: Частичная модульность

ss flags
  modular_ss220/ai_integration/code/gpt_subsystem.dm
Labels: Частичная модульность

config
  config/example/config.toml
  modular_ss220/ai_integration/code/config.dm
  modular_ss220/ai_integration/code/gpt_subsystem.dm
Labels: Требуется изменение конфига, Частичная модульность

naming
  modular_ss220/ai_integration/code/config.dm
  modular_ss220/ai_integration/code/gpt_subsystem.dm
Labels: Частичная модульность

ss to global datum
  modular_ss220/ai_integration/code/gpt_subsystem.dm
  modular_ss220/ai_integration/code/ticket.dm
Labels: Частичная модульность

system message formating
  strings/ahelp_system_message.txt
Labels: none

lower model temp
  modular_ss220/ai_integration/code/gpt_subsystem.dm
Labels: Частичная модульность

add faq from dj
  strings/ahelp_system_message.txt
Labels: none

Who needs mentors anyway
  modular_ss220/ai_integration/code/ticket.dm
Labels: Частичная модульность

memefy
  modular_ss220/ai_integration/code/ticket.dm
Labels: Частичная модульность

Update strings/ahelp_system_message.txt
  strings/ahelp_system_message.txt
Labels: none

Update modular_ss220/ai_integration/code/ticket.dm
  modular_ss220/ai_integration/code/ticket.dm
Labels: Частичная модульность

Update modular_ss220/ai_integration/_ai_integration.dm
  modular_ss220/ai_integration/_ai_integration.dm
Labels: Частичная модульность

Update modular_ss220/ai_integration/code/ticket.dm
  modular_ss220/ai_integration/code/ticket.dm
Labels: Частичная модульность
